:root {
    --main-color: #1f2937;
    --font-color: #f5f5f4;
    --bg-colors: #12161d;
    --accent-color: #BE3144;
}
*{
    box-sizing: border-box;
}

@font-face {
    font-family: para-font;
    src: url(Roboto-Light.ttf);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding:0;
    color: var(--font-color);
    background-color: var(--bg-colors);
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    
}

.nav{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding: 15px;
    background-color: var(--main-color);
    font-weight: bold;
}

.icon{
    width: 100px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.logo{
    width: 100px;
    height: 80px;
}
.first-nav,
.sec-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.left-nav{
    display:flex;
    align-items: center;
    gap: 10px;
}

.search-btn {
    flex-grow: 1;
    background-color: var(--font-color);
    color: var(--main-color);
    border: none; 
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  .search-btn:hover, 
  .search-btn:focus {
    background-color: var(--font-color);
  }
  ::placeholder {
    color: var(--main-color);
    opacity: 1; /* Firefox */
  }
  
.sec-nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    gap: 15px;
}

.user{
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-size: 1rem;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    font-weight: bolder;
}


.sidebar{
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-color: var(--accent-color);
    color: var(--font-color);
    font-weight: bolder;
    padding: 15px;
    font-size: 1.3rem;
}

.sidebar img{
    width: 25px;
    height: 50px;
    margin: 0 5px 0 0;
}

.sidebar-cont{
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}

.main-cont{
    grid-column: 2/-1;
    display:grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 10px;
    background-color: var(--bg-colors);
    gap: 15px;
    margin-bottom: 10px;
}

.article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
}

.card {
    background-color: var(--main-color);
    text-align: center;
    border-radius: 10px;
    
}
.card p{
    padding: 20px;
    margin: 20px;
    font-family: para-font;
}

.main{
    border-left: var(--accent-color) 5px solid;
}
.card:hover{
    background-color: #a1a1aab2;
}

.news-bar{
    padding-left: 10px;
}

.highlight{
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--font-color);
}


.footer{
    grid-column: 1/3;
    background-color: var(--main-color);
    text-align: center;
}

a, a:visited{
    color: var(--font-color);
}